@import "../../.nixconfig/colors/digital_lavender.css";

window#waybar {
    background-color: @dark;
    border-bottom: 1px solid @accent;
    color: #FCDECF;
}

.modules-right {
    background-color: transparent;
    padding-right: 15px;
}

#workspaces button {
    color: @foreground;
}

#workspaces button.hosting-monitor {
    color: @accent;
}

#cpu, #disk, #memory, #gpu-usage {
    padding-left: 10px;
}