@import "../../.nixconfig/colors/digital_lavender.css";

window#waybar {
    background-color: @dark;
    border-bottom: 1px solid @accent;
    color: #FCDECF;
    font-family: "Mononoki Nerd Font";
}

.modules-right {
    background-color: transparent;
    padding-right: 15px;
}

#workspaces button {
    color: @foreground;
}

#workspaces button.hosting-monitor {
    color: @accent;
}

#cpu, #disk, #memory, #gpu-usage {
    padding-left: 10px;
}

#privacy {
    padding-right: 10px;
}

#cava {
    border: 0px solid @accent;
    border-radius: 10px;
    padding-left: 4px;
    padding-right: 4px;
}